{% extends 'layout.html' %}

{% block content %}

        <h2 class="endereço">Contato</h2>
        
            <p><img src="38103867.jpeg" width ="300" height="300" alt="Hériclys Sousa Borges"></p>

            <p>23 anos, brasileiro, solteiro, nascido em 20.10.1995<br> 
            Rua José Luiz Fortes, n° 4907, casa C - Mocambinho<br>
            64.010-760  – Teresina - PI<br>
            (89) 99435-0265/(86) 3224-3971 - hericlysdlarii@gmail.com<br><br>
                    
            <!-- <a href="38103867.jpeg" target="_blank">Foto</a><br> -->
                    
            <a href="https://www.instagram.com/dlarii44" target="_blank">Instagram</a><br>
                    
            <a href="https://www.facebook.com/dlarii44" target="_blank">Facebook</a><br>

            <a href="/portfolio">Portifólio</a><br>
                    
{% endblock content %}