<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        
        <title>Hériclys D'Larii</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link href="styles.css" rel="stylesheet">
    
        
    </head>
    
    <body>

        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="portfolio">Qualificações</a>
                <a href="hobbies">Hobbies</a>
            </div>
        </header>

        <div id="wrapper">
            <h1> Hériclys Sousa Borges</h1>
        </div>

        <div class="cards-section">
            <h2>Vídeos</h2>
        </div>

        <section class="cards">
            <div class="card">
                <div class="card__image-container">
                    <img src="deixe-me-ir.jpg" alt="Deixe-me Ir"> 
                </div>
                <div class="card__content">
                    <p>Deixe-me ir - 1kilo | Cover - Hériclys D'Larii</p>
                </div>
                <div class="card__info">
                    <p>30 seg</p>
                    <p class="card__instrument">Cavaco</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image-container">
                    <img src="forró.jpg" alt="Forró no Triangulo"> 
                </div>
                <div class="card__content">
                    <p> Forró no triângulo| Hériclys D'Larii</p>
                </div>
                <div class="card__info">
                    <p>30 seg</p>
                    <p>Triângulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image-container">
                    <img src="girassois-de-van-gogh.jpg" alt="Girassois de Van Gogh"> 
                </div>
                <div class="card__content">
                    <p> Girassóis de Van Gogh - Baco Exu dos Blues | Cover - Hériclys D'Larii</p>
                </div>
                <div class="card__info">
                    <p>30 seg</p>
                    <p class="card__instrument">Cavaco</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image-container">
                    <img src="ousado-amor.jpg" alt="Ousado Amor"> 
                </div>
                <div class="card__content">
                    <p> Ousado Amor - Isaias Saad | Cover - Hériclys D'Larii</p>
                </div>
                <div class="card__info">
                    <p>30 seg</p>
                    <p class="card__instrument">Violão</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image-container">
                    <img src="pagode.jpg" alt="Pagode"> 
                </div>
                <div class="card__content">
                    <p> Pagode no tantã | Hériclys D'Larii</p>
                </div>
                <div class="card__info">
                    <p>30 seg</p>
                    <p class="card__instrument">Tantã</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image-container">
                    <img src="pe-de-serra.jpg" alt="Pé de Serra"> 
                </div>
                <div class="card__content">
                    <p> Forró Pé de Serra na zabumba | Hériclys D'Larii</p>
                </div>
                <div class="card__info">
                    <p>30 seg</p>
                    <p class="card__instrument">Zabumba</p>
                </div>
            </div>
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons"> close </i>
                </a>

                <div class="modal-content">
                    
                </div>
            </div>
        </div>

        <script src="scripts.js">

        </script>
         
    </body>
    
</html>