<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        
        <title>Hériclys Sousa Borges</title>
        
        <link href="styles.css" rel="stylesheet">
    
        
    </head>
    
    <body>

        <header>
            <div class="links">
                <a href="#">Sobre</a>
                <a href="#">Qualificações</a>
            </div>
        </header>

        <div id="wrapper">
            <img src="https://avatars2.githubusercontent.com/u/38103867?s=400&u=24ae22b72c6fe7c0aaaa88b4e021a17a8e27a3b0&v=4" alt="Hericlys">
            <h1> Hériclys Sousa </h1>
            <h2> Graduando - UFPI </h2>
            <p>Programador front/backend, Programador mobile. Inglês intermediário.</p>
        </div>

        {% block content %}{% endblock content %}

        <div id="links-footer" class="links">
            <a href="https://github.com/hericlysdlarii" target="_blanck">Github</a>
            <a href="https://www.linkedin.com/in/h%C3%A9riclys-d-larii-23740219b/" target="_blanck">Linkedin</a>
            <a href="https://www.instagram.com/dlarii44/" target="_blanck">Instagram</a>
        </div>
         
    </body>
    
</html>