<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        
        <title>Hériclys Sousa Borges</title>
        
        <link href="styles.css" rel="stylesheet">
    
        
    </head>
    
    <body>

        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="portfolio">Qualificações</a>
                <a href="hobbies">Hobbies</a>
            </div>
        </header>

        <div id="wrapper">
            <h1> Hériclys Sousa Borges</h1>
        </div>

        <div class="about">
            <h2>Formação Acadêmica</h2> 

                <p>&#8226; Cursando 8º período de Sistemas&nbsp;de&nbsp;Informação – Universidade Federal do Piauí - UFPI;</p>
                <p>&#8226; Técnico em Logística – Centro Universitário de Brasília - UniCEUB.  Conclusão: Fevereiro de 2015;</p>
                <p>&#8226; Ensino Médio completo – Unidade Escolar Helvídio Nunes. Conclusão: Dezembro de 2013.</p>

            <h2>Experiência Profissional</h2> 

                <h3>Anterior</h3>
                    <ul>
                        <p><li><b>Panificadora e Confeitaria Osiro LTDA ME</b><br></li>
                        Auxiliar de Serviços Gerais – maio à julho de 2014.<br>
                        Auxiliar de Salgadeiro – agosto à novembro de 2014.</p>
                    </ul>

                <h3>Atual</h3>
                    <ul>
                        <p><li><strong>Cursando Sistemas de Informação</strong><br></li>
                        Cursando 8º período.
                        </p>
                    </ul>

            <h2>Qualificações e Atividades Complementares</h2> 

                <p>&#8226; Participação no programa Miniempresa, da <em>Junior Achievement</em>. SEBRAE/UniCEUB. Melhor Miniempresa do ensino Técnico do Distrito Federal.</p>
                <p>&#8226; Curso de Relações Humanas: Relação interpessoal, Comunicação, Motivação e Autoestima. Projeto: Se Liga Brasil, GEEP-CON, conclusão em 2011. 80h/a;</p>
                <p>&#8226; Curso de Informática Básica: <i>Windows, Word, Excel e PowerPoint</i>. Projeto: Se Liga Brasil, GEEP-CON, conclusão em 2011. 80h/a;</p>
                <p>&#8226; Enfermagem domiciliar, Primeiros-socorros, Cuidados com idosos, Agente comunitário de saúde, Auxiliar de farmácia, Nutrição e dietética. Projeto: Se Liga Brasil, GEEP-CON, conclusão em 2011. 80h/a.</p>
        </div>

        <script src="scripts.js">

        </script>
         
    </body>
    
</html>